* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVEGAÇÃO */

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.menu {
  background-color: #674582;  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 99;
}

.menu__logo {
  width: 200px;
}

.menu__itens {
  display: none;
}

/* CABEÇALHO */

.cabecalho {
  color: rgba(255, 255, 255, 1);
  margin-top: 55px;
  background: url("../img/bg-banner-claro.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 75vh;
  text-align: center;
}

.cabecalho__conteudo {
  display: flex;
  flex-direction: column;
}
.cabecalho__titulo {
  font-size: 1.3rem;
  margin-top: 70px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.cabecalho__subtitulo {
  font-size: 1.1rem;
  padding: 0 70px;
  margin: 40px auto;
}

.cabecalho__btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #C083B9;
  font-size: 1rem;
}

/* PRINCIPAL */

.principal__titulo {
  font-family: 'Roboto Slab';
  text-align: center;
  color: #63458A;
  margin: 40px auto;
  font-size: 1.45rem;
}

.principal__mulheres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 70px;
  max-width: 95vw;
  margin: 0 auto;
}

.personalidade {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.principal__mulheres img {
  width: auto;
  height: 150px;
  background-color: #63458A;
  border-radius: 10px;
  padding: 5px;
  margin: 20px;
} 

.principal__mulheres h4 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 0;
}

/* Rodapé */

.rodape__1-de-2 {
  background-color: #323534;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodape__menu, .rodape__facebook {
  display: none;
}

.rodape__logo {
  margin: 50px;
}

.rodape__2-de-2 {
  background-color: #292A2A;
  font-size: .8rem;
  width: 100%;
  text-align: center;
}

.rodape__2-de-2 p {
  margin: 0;
  padding: 10px;
  color: #fff;
}

@media (min-width: 768px) {
  .cabecalho__subtitulo {
    margin: 60px auto;
  }
}

@media (min-width: 1024px) {

  .menu__itens {
    display: flex;
  }

  .menu__paginas {
    display: flex;  
    justify-content: space-around; 
    padding: 0;
  }

  .menu__paginas li {
    margin-right: 40px;
  }

  .menu__paginas a {
    color: #fff;
    text-transform: uppercase;
  }

  .menu__hamburger {
    display: none;
  }

  .menu__redes-sociais img {
    margin: 0 1vw;
  }

  .cabecalho__conteudo {
    width: 35vw;
    margin: 0;
    padding: 0;
    text-align: start;
    position: relative;
    top: 35%;
    left: 20%;   
  }

  .cabecalho__subtitulo {
    font-size: .9rem;
    margin: 3% 0;
    padding: 0; 
  }

  .cabecalho__btn {
    margin-left: 0;
  }

  .principal__mulheres {
    padding: 0 60px;
  }

  .principal__mulheres img {
    margin: 20px 45px;
  }

  .rodape__menu, .rodape__facebook {
    display: block;
  }

  .rodape__1-de-2, .rodape__facebook {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .rodape__menu a {
    color: #fff;
    font-size: 1rem;
    display: block;
    text-align: center;
  }

  .rodape__facebook img {
    width: 30px;
    height: 50px;
  }

  .rodape__facebook h5 {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .principal__mulheres img {
    margin: 20px 80px;
  }
}

/* SEGUNDA PÁGINA */

.topo {
  border: 2px solid;
  color: rgba(255, 255, 255, 1);
  margin-top: 55px;
  background: url("../img/bg-banner-claro.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 75vh;
  text-align: center;
}